<!DOCTYPE html>

<html lang="es">

<head>
<meta charset="UTF-8">
<title>Bernardita</title>

<style>

body{
font-family: Arial;
background-color:#f5f5f5;
margin:40px;
}

header{
text-align:center;
background-color:#ffe6ef;
padding:30px;
border-radius:10px;
}

section{
background:white;
padding:20px;
margin-top:20px;
border-radius:10px;
}

nav{
text-align:center;
margin-top:20px;
}

a{
margin:10px;
text-decoration:none;
font-weight:bold;
color:#c4005c;
}

img{
border-radius:10px;
}

h2{
color:#c4005c;
}

button{
padding:10px;
border:none;
background:#c4005c;
color:white;
border-radius:6px;
cursor:pointer;
}

</style>

</head>

<body>

<header>

<h1>Bernardita Robles</h1>

<p><em>Ingeniería en informática • Tecnología • Música • Deporte</em></p>

<img src="Foto cuadrada.jpeg" width="220" alt="Foto de Bernardita">

<p>
Tengo <strong>22 años</strong>, soy de <mark>Mercedes, Buenos Aires</mark>  
y actualmente vivo en <u>Capital Federal</u>.
</p>

</header>

<nav>

<a href="#vida">Mi historia</a> <a href="#trabajo">Trabajo</a> <a href="#gustos">Cosas que amo</a>

</nav>

<section id="vida">

<h2>Mi historia</h2>

<p>
A los <strong>18 años</strong> me mudé a Capital Federal para estudiar 
<b>Ingeniería en Informática</b> en la <em>Universidad de Palermo</em>. Actualmente estoy en <mark>quinto año</mark>.
</p>

<p>
Me interesa mucho el mundo de la <em>tecnología</em> y el <u>impacto</u> que tienen los sistemas informáticos y la <u>innovación</u> digital en la optimización de procesos y la <u>transformación</u> de las organizaciones, así como en nuestro día a día.
</p>

<p>
También soy una persona muy <strong>activa</strong>: disfruto entrenar, pasar tiempo con amigas y 
aprovechar los fines de semana con mi familia.
</p>

</section>

<section id="trabajo">

<h2>Lo que estoy haciendo hoy</h2>

<p>
Actualmente estoy haciendo una <strong>pasantía en Electrolux</strong>
en el área de <i>Back Office</i>.
</p>

<p>
Estoy participando en la implementación de un nuevo sistema
<abbr title="Customer Relationship Management">CRM</abbr> =
<b>Salesforce</b>.
</p>

<p>
Mi trabajo está relacionado con la integración del sistema con los
procesos operativos de la empresa.
</p>

<details>

<summary><strong>Lo que me gustaría hacer en el futuro</strong></summary>

<p>
Me gustaría moverme hacia roles más tecnológicos,
especialmente en áreas relacionadas con
<strong>Inteligencia Artificial</strong> y desarrollo de sistemas.
</p>

</details>

</section>

<section id="gustos">

<h2>Cosas que amo</h2>

<h3>Deporte</h3>

<p>
Soy fanática de la <strong>Fórmula 1</strong> y sigo a
<b>Ferrari</b> desde hace muchos años.
</p>

<p>
Que haya habido un piloto argentino en los últimos años me genera
mucho <em>orgullo</em>.
</p>

<h3>Música</h3>

<p>
También soy muy fan de <strong>Taylor Swift</strong>.
</p>

<details>

<summary>¿Por qué me gusta tanto?</summary>

<p>
Me encanta cómo transforma todas las experiencias de su vida, postivas y negativa, en <strong>arte</strong>. Es mi <mark>ejemplo a seguir</mark> como mujer.
</p>

</details>

<h3>Mi tiempo libre</h3>

<ul>

<li>Entrenar</li>
<li>Salir con amigas</li>
<li>Viajar</li>
<li>Ver carreras de Fórmula 1</li>
<li>Escuchar música</li>

</ul>

</section>

<section>

<h2>Frase que me gusta <3</h2>

<blockquote>
"Everything you lose is a step you take."
</blockquote>

<p><em>Taylor Swift</em></p>

</section>

</section>

<section>

<h2>Conectemos</h2>

<p>Podés ver mi perfil profesional en LinkedIn:</p>

<a href="https://www.linkedin.com/in/bernardita-robles-48b368302" target="_blank">
<button>Ir a mi LinkedIn</button>
</a>

</section>

<footer>

<hr>

</footer>

</body>

</html>
